.main {
    outline:4px double hotpink;
    outline-offset:10px;
    background:lightyellow;
    border:1px solid mediumvioletred;
    text-align:center;
    color:mediumvioletred;
    z-index:1;
    max-width: 50vw;
    margin: 18px auto 0px auto;
    padding:20px;
    position:relative;
}
.main--heading {
    color:hotpink;
    position:relative;
    right:-20%;
    max-width:80%;
    border:1px solid palegoldenrod;
}
.main--uList {
    font-weight: bold;
    z-index:3;
}
.main--uList-background {
    position:absolute;
    bottom:20px;
    left:45%;
    z-index:2;
}
.main--uList-background img {
    width: 100px;
    height:auto;
    opacity:0.3;
}
.main p {
    /* position:absolute; */
    /* Yes I see what that does but we're not doing that. Go look at the cupcake.*/
    max-width:80%;
}